.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
}

.text{
    margin-left: 20px
}

.icon{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 25px;
}

.div1{
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.heading{
     display: "flex"; 
     flex-direction: "row"; width:'100%'; border-style:'solid'; justify-content:'center'
}