.container {
    position: relative;
    display: flex;
}

.list {
    position: absolute;
    top: 100%;
    left: 0%;
    list-style: none;
    display: none;
    cursor: pointer;
    z-index: 10;
}

.listItem, .langDisplay {
    background: white;
    padding: .4rem 1rem;
    font-size: large;
}

.listItem:hover {
    color: pink;
}

.langDisplay {
    padding-right: .4rem;
}

.container:hover .list {
    display: block;
}