.row{
    display:flex;
    justify-content: center;
    margin-top: 10px;;
}

.cell{
    /* border:2px solid blue; */
    margin: 10px;;
    padding: 2px;
    border-radius: 10px;
}

.cell:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container{
    overflow:hidden;
    border-radius: 10px;
    /* border:2px solid red; */
    padding:0;
}

.cell-img{
    width:100%;
    height:100%;
    margin: 0;
    /* border:2px solid green; */
}

.cell-info{
    text-align: center;
}

.title{
    margin:0;
}

.description{
    margin:0;
    opacity:0.6;
}

.cell-info:hover{
    color: red;
}

