.para{
    margin: 20px;
}
.jj{
    flex: 1;
    text-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    border-width: 5px;
    border-style: solid;
    width: 20%;
}

.text{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px gray solid;

}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%
}

.icon{
    margin: 10px;
}

.product {
    display: "flex";
    flex-direction: "row";
    /* flex-wrap: "wrap"; */
    /* border: "1px solid #ddd"; */
    background-color: red;
    margin: 10px;
    padding: "10px";
    margin-bottom: "10px";
    align-items: "center";
    align-content: "center";
}

.summary{
    display: flex;
    flex-direction: column;
    width: 50%;
}