a{
 text-decoration: none;

}
header{
background-color: white;
box-shadow:00 5px rgb(241, 237, 237);
padding:10px;
margin:10px;
font-family: Futura Medium;
}

.box{

max-width:1440px;
width: 100%;
margin: 0 auto;
height: 3.2rem;

}

.box nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
}

.box nav .logo{ 
    cursor:pointer;
    font-size:1.2rem;
    color:black;
}
.box .navLink li{
   list-style:none;
    margin:8 0.5rem;
    padding: 15px;
}

.box ul li a{
    color: black;
    font-size:1.3 rem;
    padding:0.7 rem 1 rem;
    display:block;
    border-radius:10px;
    border-radius: 4px;
}
.box .navLink{
    display:flex;
}
.box ul li a:hover,.box ul li a:active{
    padding: 2px;
    background-color:rgb(197, 193, 193) ;

}

.icon{
    font-size: 1.5rem;
    cursor:pointer;
    display:none;
}
/* @media screen and (max-width: 800px) {
    .icon {
      display: block;
    }
    .box .navLink {
      flex-direction: column;
      justify-content: space-evenly;
      background-color: white;
      position: absolute;
      width: 350px;
      height: 60vh;
      top: 50px;
      right: 0;
    } */
  /* } */





