.box {
  background-color: white;
  border-bottom: 1px solid black;
  max-width: 1440px;
  margin-top: 10px;
  height: 3.2rem;
  padding: 10px;
  padding-bottom: 20px;
}

.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-items: center;
}

.logo {
  cursor: pointer;
  margin-left: 10px;
  font-weight: 900;
  color: black;
}

.lists {
  list-style: none;
  margin: 8 0.5rem;
  padding: 15px;
}

.alist {
  text-decoration: none;
  color: black;
  font-size: 1.3 rem;
  font-weight: bold;
  display: block;
  border-radius: 10px;
  border-radius: 4px;
}
.navLink {
  display: flex;
}
.alist:hover {
  color: red;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
/* @media screen and (max-width: 800px) {
    .icon {
      display: block;
    }
    .box .navLink {
      flex-direction: column;
      justify-content: space-evenly;
      background-color: white;
      position: absolute;
      width: 350px;
      height: 60vh;
      top: 50px;
      right: 0;
    } */
