.footerSection{
    padding: 4rem 4rem;
}
.footer{
    background-color: #2d2d32;
}
.footerLinks{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    
}
.footerLinksDiv{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    margin: 1rem;
   
   
}

.heading{
    padding-bottom: 0.7rem;
    cursor: pointer;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    border-bottom: solid #2d2d32;
}
    

.heading:hover{
  border-bottom-color: #f1e2b4;
  
}

a{
    color: rgb(232, 229, 229);
    text-decoration: none;
    
}

a:hover{
    color: #f1e2b4;
}

.icon{
    
    padding-right: 0.4rem;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 22px;
    
}

.icon:hover{
    color: #f1e2b4;
    cursor: pointer;
}


   

.para{
    font-size: 14px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.copyright{
    font-size: 12px;
    font-family: sans-serif;
}
.footerCopyright{

    color: rgb(232, 229, 229);
    text-align: center;
    margin-top: 2rem;
    
}

hr{
    color: white !important;
    width: 100%;
}

